:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --light-color: #ffffff;
    --accent-color: #2196f3;
    --dark-color: #212121;
    --color-logo-header: #000000;
    --background-color-hero: #c4c4c4;
    --text-color-lighter: #757575;
    --text-color-footer: rgba(255, 255, 255, 0.6);
    --background-color-footer: #2f303a;
    --background-color-lighter: #f5f4fa;
    --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}